<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>

    <form>
        <input name="search" value="{{ search }}" placeholder="search teachers...">
        <button type="button">Search by name</button>
    </form>

    <p>Teachers:</p>
        <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
            Teacher degree: {{ teacher.degree }}
        {% empty %}
            <li>No teachers</li>
        {% endfor %}
        </ul>
</body>
</html>